@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  /* --clr-pink: #fab60d; */
  --clr-pink: rgba(254, 54, 113);
  --clr-gray: rgba(75, 76, 118);
  --clr-green: #1d880d;
  --clr-yellow: rgba(255, 192, 0);
  --clr-bglite: rgba(240, 248, 255);
  --clr-bgcircle: rgba(222, 238, 252);
  --transition: 0.3s all;
  --transition-ms: 150ms all;
  --transition-long: 0.7s all;
}

/* color classes */

.clr-pink {
  color: var(--clr-pink);
}

.bg-pink {
  background-color: var(--clr-pink);
}

.clr-gray {
  color: var(--clr-gray);
}

.bg-gray {
  background-color: var(--clr-gray);
}

/* color classes */

html,
body {
  scroll-behavior: smooth;
}
